body {
	font-family: "Verdana", sans-serif;
}

body.blackground{
	background-color: black;
	color: white;
}

h1 {
    text-align: center;
}

p {
	text-indent: 50px;
}
	
.black{
	color: black;
}

.white{
	color: white;
}
	
.gray{
	color: gray;
}

.code{
	font-family: "Lucida Console", monocode;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link {
	color:blue
}

a:visited {
  color: blue;
}